**/data
**/Local/img
**/Local/model_weights
**/Docker/img
**/__pycache__/
.DS_Store
/Docker/predictors/bo_model.pkl
/Docker/results/batch_rename.py
/Docker/predictors/bo_model_hdh.pkl
/Docker/predictors/old_bo_model.pkl
/Docker/predictors/old_bo_scaler.pkl
/Docker/results/test.py
/Docker/results/test2.py
